* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #d2fff5;
    font: serif;
    display: block;
}


h1, h2, h3, h4, h5 {
    font-size: 20px;
    font: serif;
    padding: 15px 0 5px 0;
    text-decoration: underline;
}

h {
    font-size: 15px;
    padding: 15px 0 5px 0;
    font: serif;
}

p {
    font-size: 12px;
    font: sans-serif;
    padding: 10px 0 5px 0;
}

.results {
    padding: 10px 10px;
}

.column {
    float: left;
    width: 25%;
    padding: 15px;
}
